.button-course-status {
  background-color: whitesmoke;
  color: black;
  text-align: left;
  width: 200px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 5px;
  font-size: 14px;
}

.green-button {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.hamburger {
  color: red;
  font-size: 30px;
  padding: 10px;
  float: left;
}

.chevron {
  color: red;
  font-size: 30px;
  padding: 10px;
  float: right;
}

.button-red {
  background-color: red;
  color: white;
  text-align: center;
  padding: 8px 10px;
  border: 1px solid maroon;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
}

.button-white {
  background-color: whitesmoke;
  color: black;
  text-align: left;
  padding: 8px 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
}

.adjust-buttons {
  display: flex;
  justify-content: left;
  padding-top: 5px;
  padding-right: 20px;
  border-radius: 4px;
  padding-left: 20px;
}

.red-font {
  color: red;
  font-weight: normal;
}

.breadcrumb {
  color: red;
  font-weight: normal;
  padding: 10px;
  font-size: 20px;
  display: inline;
}

.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 20px;
}

.wd-modules>li {
  background-color: whitesmoke;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules>li>div {
  padding: 18px;
  border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
  padding: 15px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules>li {
  margin-bottom: 25px;
}

.course-status {
  width: 250px;
}

.hline {
  margin-left: 20px;
  margin-right: 20px;
}

.assignment-search {
  justify-content: left;
}

.adjust-buttons-assignment {
  display: flex;
  justify-content: right;
  padding-top: 5px;
  padding-right: 20px;
  border-radius: 4px;
  padding-left: 20px;
}

.link {
  color: black;
  text-decoration: none
}

.assignment-icon {
  color: green;
}